.input-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #7f1077;
    height: 200px;
    width: 500px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 35px;
    width: 100%
}

.uploaded-row {
    color: #fff;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #7f1077;
}