.projects_section {
  display: flex;
  width: 100%;
  width: 1000px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: geometricprecision;
  border-width: 0px;
  border-style: solid;
  scrollbar-width: thin;
}
