.addcsvfile {
    top: 121px;
    left: 680px;
    width: 720px;
    height: 903px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgb(255, 255, 255);
  }
  .group20 {
    top: 162px;
    left: 111px;
    width: 497px;
    height: 382.00006103515625px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .csvimage {
    top: -22px;
    left: 209px;
    width: 80px;
    height: 80px;
    position: absolute;
  }
  .text4 {
    top: 63.00008773803711px;
    left: 76px;
    color: rgba(1, 0, 1, 1);
    width: 345px;
    height: auto;
    position: absolute;
    font-size: 28px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 146.5227246284485%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text6 {
    top: 132.0000457763672px;
    left: 78px;
    color: rgb(0, 0, 0);
    width: 345px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 146.5227246284485%;
    font-stretch: normal;
    text-decoration: none;
  }
  .inputfield1 {
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 497px;
    height: 181px;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    border: 2px dashed #ccc; 
    font-size: 20px;
    cursor: pointer;
}

  .file-input {
    display: none;
}

.submitbutton1 {
  top: 403px;
  left: 150px;
  width: 190px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.text06 {
  top: 12px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 200;
  line-height: 146%;
  cursor: pointer;
}