@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.nav {
  height: 80px; /* Adjust the height value as needed */
  width: 100%;
  margin: 0 auto;
  background: purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo {
  font-size: 25px;
  color: #fff;
}

.nav_items {
  list-style: none;
  display: flex;
}

.nav_item {
  margin-right: 25px;
}

.nav_link {
  color: #fff;
  margin-right: 15px;
}

.nav_link:hover {
  color: #d9d9d9;
}

.button {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background: purple;
}

.button:active {
  transform: scale(0.98);
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.login-form {
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input_box {
  height: 57px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.input_box input {
  height: 45px;
  width: 95%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.button-container {
  display: flex;
  justify-content: center;
}

.form-button {
  display: flex;
  height: 35px;
  width: 35%;
  margin: 18px 0;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: purple;
}

/* home page body styling down  */

/* .home-page-welcomemessage {
    top: 141px;
    left: 307px;
    width: 804px;
    height: 332px;
    display: flex;
    overflow: hidden;
    position: absolute;
  } */
/* .home-page-text10 {
    top: -1px;
    left: 144px;
    color: rgba(0, 0, 0, 1);
    width: 515px;
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 146.5227246284485%;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-page-text11 {
    color: rgba(0, 0, 0, 1);
  } */
/*.home-page-text12 {
   /* top: 150px;  /* y */
/* left: 555px; /* x */
/* width: 281px; /* w */
/* height: 72px; /* h */
/* color: rgba(86, 0, 116, 1);
   /* font-size: 48px;
   /* position: absolute;
   /* text-align: center;
 /* }
  /* .home-page-text13 {
    top: 140px;
    color: rgba(0, 0, 0, 1);
    width: 804px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 146.5227246284485%;
    font-stretch: normal;
    text-decoration: none;
  } */
/* .home-page-text15 {
    top: 657px;
    left: 316px;
    color: rgba(145, 69, 172, 1);
    width: 770px;
    height: auto;
    position: absolute;
    font-size: 27px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 146.5227246284485%;
    font-stretch: normal;
    text-decoration: none;
  } */
/*.getstartedbtn{
  /*  top: 473px;  /* y */
/*   left: 511px; /* x */
/*  width: 184px; /* w */
/*  height: 66px; /* h */
/*  position: absolute;
  /*  background-color: rgba(86, 0, 117, 1);
  /*  color: rgba(255, 255, 255, 1);
  /*  cursor: pointer;
  /*  font-size: 20px;
  /*}

  /* .home-page-text42 {
    left: 380px;
    color: rgba(255, 249, 249, 1);
    width: 77px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 146.5227246284485%;
    font-stretch: normal;
    text-decoration: none;
    list-style-type: none;
  }  */
/* .home-page-text44 {
    left: 220px;
    color: rgba(255, 249, 249, 1);
    width: 134px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 146.5227246284485%;
    font-stretch: normal;
    text-decoration: none;
    list-style-type: none;
  }   */
