.code-view-page-body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 170vh;
  /* height: calc(100%-60px); */
}

.utility-sidebar {
  position: fixed;
  display: flex;
  width: 300px;
  height: calc(100vh - 40px);
  flex-direction: row;
  justify-content: space-between;
  background-color: #262626;
  margin-top: 60px;
}

.utility-icons-wrapper {
  margin-top: 3px;
  width: 52px;
  background-color: #363636;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-buttons-wrapper {
  height: 175px;
}

.bottom-buttons-wrapper {
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 17px;
}

.layers-content {
  outline: none;
  display: inline-flex;
  margin: 0px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: default;
  width: 100%;
  height: 50px;
}

.code-view-layer-component {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.navigator-arrow {
  outline: none;
  display: inline-flex;
  margin: 0px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: default;
  width: 100%;
  height: 50px;
}

.code-view-navigator-arrow {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.code-view-documentation-container {
  outline: none;
  display: inline-flex;
  margin: 0px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: default;
  width: 100%;
  height: 50px;
}

.code-view-documentation-icon {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.code-view-user-profile-wrapper {
  outline: none;
  display: inline-flex;
  margin: 0px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: default;
  width: 100%;
  height: 50px;
}

.code-view-user-icon {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.code-structure {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.code-structure-header {
  padding: 18px 8px 9px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.code-structure-body {
  height: 100%;
}

.code-structure-body-header {
  padding: 2px 8px 9px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}

.frontend-group {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 400px;
}

.code-inspection-view {
  margin-top: 61px;
  width: 100%;
  display: flex;
  margin-left: 301px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* z-index: 1; */
}

.scrollbox {
  overflow: auto;
}

.scrollbox-inner {
  font-size: 16px;
  color: #fff;
  padding: 10px;
}

.codeview-file-button {
  flex: 1 1 0%;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  max-height: 32px;
  border-radius: 4px;
  padding: 8px;
  background: transparent;
  color: #b2b2b2;
  text-align: left;
  overflow: hidden;
  outline: none;
  border: 1px solid transparent;
  font-size: 12px;
  padding: 10px 10px; /* Note: You have this line twice in your original code. Keep just one. */
  height: 30px;
  width: 230px;
}

.codeview-file-button:hover {
  border: 1px solid #595959;
}

.codeview-file-button.selected {
  background-color: #363636;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}


